<button  mat-raised-button class="btn" (click) = "navigateLinkAdd();">Link hinzufügen</button>
<div class="outer">
    <div class="inner">
        <h3 class="titel">Suche</h3>
        <br><br>
        <mat-form-field class="formField">
            <mat-label class="matLabel">Suchbegriffe</mat-label>
            <input [(ngModel)]="eingabe" matInput type="text"  >
        </mat-form-field>
        <button mat-raised-button class="btn" (click)="getResults()">Suchen</button>
        <br>
        <mat-card *ngIf="visible">
            <mat-card-header class="ergebnisse">
                Ergebnisse: 
            </mat-card-header>
            <mat-card-content *ngFor="let result of results" class="card">
            <a href="{{ result.link}}" class="link">{{result.link}}</a>
            <div class="rank">{{result.rank}}</div>
            </mat-card-content>
        </mat-card>
    </div>
</div>